.container{
    width: 300px;
    padding: 30px;
    margin: auto;
    border: 2px solid lightgrey;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 5px grey;
    background-color:#f5ecec;
}
input[type=text], input[type=password],select {
    width: 50%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin: 2px 2px;
    text-align:center;
    line-height:20px;
}
